
/* ADD YOUR STYLES HERE */
#header1 {
    height:10vh;
    padding:30px;
    margin:20px;
}

#header2 {
    height:90vh;
    padding:20px;
    margin:20px;
}

.width_height {
    width:100%;
    height: 100%;
}
